<ion-card>
  <ion-card-header>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button (click)="onClickEditItem()" *ngIf="!editMode">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="onClickSaveItem()" *ngIf="editMode">
          <ion-icon name="save"></ion-icon>
        </ion-button>
        <ion-button (click)="onClickDeleteItem()" *ngIf="!editMode">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-item>
            <ion-label position="floating" *ngIf="editMode">Product</ion-label>
            <ion-input [readonly]="!editMode" [(ngModel)]="item.name" (click)="$event.target.select()"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col *ngIf="item.quantity || editMode">
          <ion-item>
            <ion-label position="floating" *ngIf="editMode">Quantity</ion-label>
            <ion-input [readonly]="!editMode" [(ngModel)]="item.quantity" (click)="$event.target.select()"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col *ngIf="item.unit || editMode">
          <ion-item>
            <ion-label position="floating" *ngIf="editMode">Unit</ion-label>
            <ion-input [readonly]="!editMode" [(ngModel)]="item.unit" (click)="$event.target.select()"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-checkbox slot="end" [(ngModel)]="item.isShopped" (ionChange)="onClickShopped()"
              [checked]="item.isShopped">
            </ion-checkbox>
            <ion-label>Shopped</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-item *ngIf="item.notes || editMode">
      <ion-label position="floating" *ngIf="editMode">Notes</ion-label>
      <ion-textarea type="text" [readonly]="!editMode" [(ngModel)]="item.notes"></ion-textarea>
    </ion-item>

  </ion-card-content>
</ion-card>