<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-title>My Shopping List</ion-card-title>
      <ion-card-subtitle>With this app you can create, save, share, and manage your shopping lists.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-list lines="none">

    <ion-item [routerLink]="['/list']">
      <ion-icon slot="start" color="medium" name="fastforward"></ion-icon>
      <ion-label>Select a shopping list</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/create']">
      <ion-icon slot="start" color="medium" name="create"></ion-icon>
      <ion-label>Create new shopping list</ion-label>
    </ion-item>
  </ion-list>

</ion-content>